---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import Problem from "../components/Problem.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Electrozape">
  <main class="flex flex-col">
    <Header />
    <Home />
    <Problem />
    <Contact />
  </main>
</Layout>
