---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import AboutUs from "../components/AboutUs.astro";
import Problem from "../components/Problem.astro";
import Solution from "../components/Solution.astro";
import Footer from "../components/Footer.astro";
import WhatsAppComponent from "../components/WhatsAppComponent.astro";
---

<Layout title="Electrozape">
  <main class="flex flex-col">
    <Header />
    <Home />
    <Problem />
    <Solution />
    <AboutUs/>
    <Footer />
    <WhatsAppComponent />
  </main>
</Layout>
