---
import { Image } from "astro:assets";
---

<section class="section-container text-white" id="about">
  <div class="flex flex-col max-w-section gap-y-8">
    <h2 class="text-2xl text-primaryRed font-bold text-center">
      Sobre Nosotros
    </h2>
    <div
      class="grid grid-cols-1 text-base gap-y-8 text-center md:text-lg lg:gap-y-16 lg:items-center"
    >
      <div
        class="flex flex-col text-start p-4 bg-redBackground rounded-xl border-2 border-textColor md:p-8"
      >
        <p>
          ElectroZape es una empresa que fabrica y vende lámparas mata insectos
          de alta calidad, diseñadas para eliminar mosquitos y otros insectos
          voladores. Nuestra misión es ofrecer soluciones innovadoras para
          proteger a las personas y sus espacios de plagas, mejorando así la
          calidad de vida y la salud pública.
        </p>
      </div>

      <div
        class="flex flex-col gap-y-4 text-start p-4 bg-redBackground rounded-xl border-2 border-textColor md:p-8"
      >
        <h3 class="text-lg text-white font-bold">
          Venta mayorista y minorista
        </h3>
        <p>
          Contamos con un equipo de expertos listos para brindar asistencia
          técnica en todo momento, asegurando que cada cliente reciba el soporte
          necesario para instalar y mantener nuestros productos de manera
          óptima.
        </p>
      </div>
      <div
        class="flex flex-col gap-y-4 text-start p-4 bg-redBackground rounded-xl border-2 border-textColor md:p-8"
      >
        <h3 class="text-lg text-white font-bold">Soporte técnico</h3>
        <p>
          Contamos con un equipo de expertos listos para brindar asistencia
          técnica en todo momento, asegurando que cada cliente reciba el soporte
          necesario para instalar y mantener nuestros productos de manera
          óptima.
        </p>
      </div>
      <div
        class="flex flex-col gap-y-4 text-start p-4 bg-redBackground rounded-xl border-2 border-textColor md:p-8"
      >
        <h3 class="text-lg text-white font-bold">
          Asesoramiento pre y postventa
        </h3>
        <p>
          Ofrecemos un servicio de asesoramiento integral antes y después de la
          compra, ayudando a nuestros clientes a seleccionar la mejor solución
          para sus necesidades y brindando soporte continuo para garantizar el
          correcto funcionamiento de nuestras lámparas.
        </p>
      </div>
    </div>
  </div>
</section>
