<section class="section-container bg-redBackground text-white" id="about">
    <div class="flex flex-col max-w-section">
      <h2 class="text-2xl text-white font-bold text-center">Sobre Nosotros</h2>
      <div class="grid grid-cols-1 py-10 gap-8 text-black text-base text-center md:text-lg lg:gap-y-16 lg:items-center">

        <!-- grid grid-cols-2 -->
        
        <div class="grid grid-cols-2">
            <div class="flex flex-col gap-y-4 text-start p-4 bg-white rounded-lg border-2 border-textColor md:p-8">
                <div class="flex flex-row items-center gap-x-8">
                  <img src="bug.png" alt="" class="w-10" />
                  <h2 class="text-xl font-bold">ElectroZape</h2>
                </div>
                <p class="text-base">
                  ElectroZape es una empresa especializada en la fabricación y comercialización de lámparas mata insectos de alta calidad, diseñadas para eliminar eficazmente plagas de mosquitos y otros insectos voladores. Nuestra misión es proporcionar soluciones innovadoras y efectivas para proteger a las personas y los espacios de las plagas, mejorando la calidad de vida y la salud pública.
                </p>
              </div>
              
              <div class="flex flex-col gap-y-4 text-start p-4 bg-white rounded-lg border-2 border-textColor md:p-8">
                <div class="flex flex-row items-center gap-x-8">
                  <img src="error.png" alt="" class="w-10" />
                  <h2 class="text-xl font-bold">imagen de la empresa</h2>
                </div>
              </div>
        </div>

        <div class="grid grid-cols-2">
            <div class="flex flex-col gap-y-4 text-start p-4 bg-white rounded-lg border-2 border-textColor md:p-8">
                <div class="flex flex-row items-center gap-x-8">
                  <img src="error.png" alt="" class="w-10" />
                  <h2 class="text-xl font-bold">imagen de la empresa</h2>
                </div>
            </div>
      
            <div class="flex flex-col gap-y-4 text-start p-4 bg-white rounded-lg border-2 border-textColor md:p-8">
            <div class="flex flex-row items-center gap-x-8">
                <img src="bug.png" alt="" class="w-10" />
                <h2 class="text-xl font-bold">Objetivos</h2>
            </div>
                <p class="text-base">
                    - Proporcionar soluciones personalizadas para satisfacer las necesidades específicas de nuestros clientes.<br></br>
                    - Ofrecer lámparas mata insectos de alta calidad y eficacia para la venta mayorista y minorista.<br></br>
                    - Contribuir a la reducción de plagas de mosquitos y otros insectos, mejorando la salud pública y la calidad de vida.
                </p>
                <div class="flex flex-row items-center gap-x-8">
                    <img src="bug.png" alt="" class="w-10" />
                    <h2 class="text-xl font-bold">Valores</h2>
                </div>
                <p class="text-primaryRed">
                    <strong>Innovación,Calidad,Servicio,Sostenibilidad.</strong>
                </p>
            </div>
        </div>
        
    </div>
  </section>
  