---
import { Image } from "astro:assets";
---

<section class="section-container text-white" id="about">
  <div class="flex flex-col max-w-section gap-y-12">
    <h2 class="text-3xl text-primaryRed font-bold text-center">
      Sobre Nosotros
    </h2>
    <div
      class="flex flex-col text-start p-6 bg-redBackground rounded-xl border-textColor md:p-8"
    >
      <p class="leading-relaxed">
        En ElectroZape, nos dedicamos a la fabricación y venta de lámparas mata
        insectos de alta calidad. Nuestro objetivo es ofrecer soluciones
        innovadoras que protejan a las personas de las plagas, mejorando la
        calidad de vida y la salud pública.
      </p>
    </div>
    <div>
      <img src="/empresa.jpg" alt="Electrozape About Us" class="rounded-md" />
    </div>

    <div
      class="grid grid-cols-1 gap-y-12 text-base md:grid-cols-2 md:gap-x-8 lg:gap-x-12 lg:gap-y-16 text-center lg:text-left"
    >
      <div
        class="flex flex-col gap-y-4 text-start p-6 bg-redBackground rounded-xl border-textColor md:p-8"
      >
        <h3 class="text-xl text-white font-bold">
          Venta Mayorista y Minorista
        </h3>
        <p class="leading-relaxed">
          Ofrecemos venta directa tanto a mayoristas como a minoristas, con un
          equipo de profesionales que garantiza un servicio de alta calidad en
          cada etapa del proceso de compra.
        </p>
      </div>

      <div
        class="flex flex-col gap-y-4 text-start p-6 bg-redBackground rounded-xl border-textColor md:p-8"
      >
        <h3 class="text-xl text-white font-bold">Soporte Técnico</h3>
        <p class="leading-relaxed">
          Nuestro equipo de expertos está siempre disponible para brindar
          asistencia técnica, asegurando la correcta instalación y mantenimiento
          de nuestras lámparas mata insectos.
        </p>
      </div>

      <div
        class="flex flex-col gap-y-4 text-start p-6 bg-redBackground rounded-xl border-textColor md:p-8"
      >
        <h3 class="text-xl text-white font-bold">
          Asesoramiento Pre y Postventa
        </h3>
        <p class="leading-relaxed">
          Brindamos asesoramiento personalizado antes y después de la compra,
          ayudando a nuestros clientes a encontrar la mejor solución para sus
          necesidades y garantizando el correcto uso de nuestros productos.
        </p>
      </div>
      <div
        class="flex flex-col gap-y-4 text-start p-6 bg-redBackground rounded-xl border-textColor md:p-8"
      >
        <h3 class="text-xl text-white font-bold">Garantía y Reemplazo</h3>
        <p class="leading-relaxed">
          Respaldamos la calidad de nuestros productos ofreciendo una garantía
          sólida y opciones de reemplazo en caso de defectos de fabricación. Nos
          comprometemos a brindar una solución rápida y efectiva, asegurando la
          satisfacción y confianza de nuestros clientes en cada compra.
        </p>
      </div>
    </div>
  </div>
</section>
