---
import { Image } from "astro:assets";
---

<section class="section-container bg-black text-white" id="contact">
  <div class="flex flex-col max-w-section gap-y-8 text-center">
    <h2 class="text-2xl font-bold">Contacto</h2>
    <p class="">¡Contáctanos por correo!</p>

    <form class="">
      <div class="flex flex-col gap-y-4 ">
        <input
          type="email"
          placeholder="tucorreo@gmail.com"
          class="flex-grow p-2 rounded-md bg-white text-black"
          required
        />
        <button
          type="submit"
          class="bg-white text-textColor font-bold p-2 rounded-md"
        >
          <span>Enviar</span>
        </button>
      </div>
    </form>

    <div class="flex gap-x-4 justify-center">
      <a
        href="#contact"
        aria-label="Instagram"
        class="bg-white text-black p-2 rounded-full hover:bg-gray-200 transition-colors"
      >
      </a>
      <a
        href="#contact"
        aria-label="Facebook"
        class="bg-white text-black p-2 rounded-full hover:bg-gray-200 transition-colors"
      >
      </a>
      <a
        href="#contact"
        aria-label="Teléfono"
        class="bg-white text-black p-2 rounded-full hover:bg-gray-200 transition-colors"
      >
      </a>
    </div>
  </div>
</section>
