---
import { Image } from "astro:assets";
import lamp from "../../public/favicon.svg";
---

<section
  class="section-container h-[70dvh] min-h-[600px] bg-cover bg-no-repeat sm:p-16 lg:p-24"
>
  <div
    class="grid grid-cols-1 items-center gap-10 lg:grid-cols-2 max-w-section"
  >
    <div class="flex flex-col gap-8 max-w-[600px]">
      <div class="flex flex-row justify-between">
        <h1
          class="flex flex-col gap-2 text-4xl text-balance -tracking-[1px] md:text-5xl md:block"
        >
          <span class="text-4xl font-black text-textColor md:text-5xldd"
            >Electrozape</span
          >
        </h1>
      </div>

      <p
        class="text-sm text-textColor italic text-balance md:text-base lg:max-w-none"
      >
        ¡Despidete de los <strong class="text-primaryRed"
          >insectos molestos</strong
        > y dale la bienvenida a <strong class="text-primaryRed"
          >tranquilidad</strong
        >! Nuestra tecnología de <strong class="text-primaryRed"
          >vanguardia</strong
        > en control de plagas.
      </p>
      <button
        class="p-2 text-white font-bold bg-primaryRed rounded-xl max-w-36 sm:max-w-44 md:max-w-48"
        ><a href="http://www.google.com">Contactanos</a></button
      >
    </div>
    <div class="hidden rounded-xl lg:flex lg:justify-center">
      <Image src={lamp} alt="Electrozape lamp." class="max-w-60" />
    </div>
  </div>
</section>
