---
import { Image } from "astro:assets";
---

<section class="section-container bg-redBackground text-white">
  <div class="flex flex-col max-w-section">
    <div
      class="grid grid-cols-1 gap-y-12 gap-x-12 text-base text-center md:text-lg lg:gap-y-24 lg:items-center text-pretty !leading-relaxed"
    >
      <div class="flex flex-col gap-y-8">
        <h2 class="text-2xl font-bold">Problemática</h2>
        <p>
          Los insectos voladores, como <strong class="text-primaryRed"
            >mosquitos y moscas</strong
          >, son una constante molestia tanto en <strong class="text-primaryRed"
            >exteriores</strong
          > como en <strong class="text-primaryRed">interiores</strong>.
        </p>
        <p>
          Interrumpen actividades al aire libre con <strong
            class="text-primaryRed"
            >picaduras y zumbidos
          </strong>, y dentro de casa afectan el <strong class="text-primaryRed"
            >s descanso y la concentración</strong
          >.
        </p>
        <p>
          Además, los mosquitos pueden transmitir <strong
            class="text-primaryRed">enfermedades graves</strong
          >, mientras que las moscas <strong class="text-primaryRed"
            >contaminan los alimentos</strong
          >, representando un <strong class="text-primaryRed"
            >riesgo sanitario</strong
          >.
        </p>
        <p>
          En 2023, Argentina reportó aproximadamente <strong
            class="text-primaryRed">50,000 casos de dengue</strong
          >, lo que representa alrededor del <strong class="text-primaryRed"
            >0.11%</strong
          > de la población total del país, que es de unos <strong
            class="text-primaryRed">45 millones de personas</strong
          >.
        </p>
      </div>
    </div>
  </div>
</section>
