<section class="section-container bg-redBackground text-white" id="problem">
  <div class="flex flex-col max-w-section gap-y-10">
    <h2 class="text-3xl text-white font-bold text-center">Problemática</h2>
    <div
      class="grid grid-cols-1 gap-y-8 text-black text-base text-center md:text-lg lg:gap-y-16 lg:items-center"
    >
      <div
        class="flex flex-col gap-y-4 text-start p-4 bg-white rounded-lg border-2 border-textColor md:p-8"
      >
        <div class="flex flex-row items-center gap-x-8">
          <img src="bug.png" alt="" class="w-10" />
          <h2 class="text-xl font-bold">Molestias constantes</h2>
        </div>
        <p class="text-base">
          Los insectos voladores, como <strong class="text-primaryRed"
          >mosquitos y moscas</strong
          >, generan molestias constantes tanto en <strong class="text-primaryRed"
            >exteriores</strong
          > como en <strong class="text-primaryRed">interiores</strong> afectando la calidad de vida.
        </p>
      </div>

      <div
        class="flex flex-col gap-y-4 text-start p-4 bg-white rounded-lg border-2 border-textColor md:p-8"
      >
        <div class="flex flex-row items-center gap-x-8">
          <img src="healt.png" alt="" class="w-10" />
          <h2 class="text-xl font-bold">Riesgos para la salud</h2>
        </div>
        <p class="text-base">
          Estos insector interrumpen actividades al aire libre con <strong
            class="text-primaryRed">picaduras y zumbidos</strong
          >. En interiores, perjudican el <strong class="text-primaryRed">descanso y la concentración</strong>, lo que impacta en el bienestar general. 
          
        </p>
      </div>

      <div
        class="flex flex-col gap-y-4 text-start p-4 bg-white rounded-lg border-2 border-textColor md:p-8"
      >
        <div class="flex flex-row items-center gap-x-8">
          <img src="error.png" alt="" class="w-10" />
          <h2 class="text-xl font-bold">Impacto en Argentina</h2>
        </div>
        <p class="text-base">
          En 2023, Argentina reportó aproximadamente <strong
            class="text-primaryRed">50,000 casos de dengue</strong
          >, lo que equivale al <strong class="text-primaryRed">
              0.11% </strong>de la población total del país estimada en <strong
            class="text-primaryRed">45 millones de personas</strong
          >.
        </p>
      </div>
    </div>
  </div>
</section>
