<section class="section-container flex-col text-white py-16" id="solution">
  <div class="max-w-5xl mx-auto text-center">
    <h2 class="text-3xl font-extrabold text-primaryRed mb-8">
      La solución que ofrecemos
    </h2>
    <p class="text-lg text-textColor mb-12">
      En ElectroZape, combinamos tecnología innovadora con diseño estético para
      ofrecerte una solución efectiva contra los insectos en cualquier espacio.
    </p>
  </div>

  <div
    class="flex flex-col md:flex-row justify-between items-center gap-y-10 md:gap-x-8 max-w-6xl mx-auto"
  >
    <div
      class="relative bg-white text-black p-6 rounded-lg shadow-xl  w-full md:w-1/3 hover:shadow-2xl transition-shadow duration-300"
    >
      <img src="/lamp.png" alt="Protección" class="w-20 mx-auto mb-4" />
      <h3 class="text-xl font-semibold text-primaryRed mb-2 text-center">
        Protección Total
      </h3>
      <p class="text-base text-gray-700 text-center">
        ElectroZape forma una barrera eficaz contra mosquitos y otros insectos,
        garantizando espacios tranquilos y protegidos.
      </p>
      <div
        class="absolute top-2 right-2 bg-primaryRed text-white rounded-full p-2 text-xs"
      >
        ¡Nuevo!
      </div>
    </div>

    <div
      class="relative bg-white text-black p-6 rounded-lg shadow-xl w-full md:w-1/3 hover:shadow-2xl transition-shadow duration-300"
    >
      <img
        src="/lamp.png"
        alt="Tecnología avanzada"
        class="w-20 mx-auto mb-4"
      />
      <h3 class="text-xl font-semibold text-primaryRed mb-2 text-center">
        Tecnología Eficaz
      </h3>
      <p class="text-base text-gray-700 text-center">
        Equipado con tecnología de última generación, atrae y elimina insectos sin necesidad de químicos
        nocivos, cuidando el medio ambiente y la salud de tu familia.
      </p>
      <div
        class="absolute top-2 right-2 bg-green-500 text-white rounded-full p-2 text-xs"
      >
        ¡Ecológico!
      </div>
    </div>

    <div
      class="relative bg-white text-black p-6 rounded-lg shadow-xl w-full md:w-1/3 hover:shadow-2xl transition-shadow duration-300"
    >
      <img src="/lamp.png" alt="Diseño funcional" class="w-20 mx-auto mb-4" />
      <h3 class="text-xl font-semibold text-primaryRed mb-2 text-center">
        Estética y Funcionalidad
      </h3>
      <p class="text-base text-gray-700 text-center">
      Con un diseño moderno y compacto, ElectroZape no solo integra perfecamente en cualquier entorno, ya sea interior o exterior,
        sino que tambien aporta elegancia y funcionalidad.
      </p>
      <div
        class="absolute top-2 right-2 bg-blue-500 text-white rounded-full p-2 text-xs"
      >
        ¡Elegante!
      </div>
    </div>
  </div>
</section>
